.form {
  max-width: 100%;
  max-height: 100%;
  font-family: "Segoe UI";
  margin: 0% 5%;
}
.post {
  margin: 1em;
  float: inline-start;
  word-wrap: break-word;
}
.chatBox,
form {
  background-color: rgb(50, 51, 72);
  color: white;
  border-radius: 2em;
}
.chatBox {
  margin-top: 2em;
  padding: 1em 2em;
  min-height: 20px;
}
form {
  padding: 1.5em;
  width: fit-content;
  float: right;
  font-size: small;
  background-color: rgb(41, 41, 41);
}
.date {
  font-size: smaller;
}
